/* HomePage Container */
.homepage__container {
  max-width: 480px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

/* ToDo App InputBox */
.todoapp__inputbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.todoapp__inputbox-inp {
  flex: 1;
  border: none;
  border-bottom: 1px solid #f1f3f5;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
}
.todoapp__inputbox-inp:focus {
  outline: none;
}
.todoapp__inputbox-add-btn {
  border: none;
  border-radius: 0;
  background-color: #d0ebff;
  color: #1c7ed6;
  height: 50px;
  width: 50px;
  font-weight: bold;
}
.todoapp__inputbox-add-btn:hover {
  cursor: pointer;
}

/* ToDo Item List */
.todoapp__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.todoapp__list-tit {
  font-weight: bold;
  margin: 0;
}
.todoapp__list-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

/* ToDo Item */
.todoapp__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 36px;
}
.todoapp__item:last-child {
  margin-bottom: 0;
}
.todoapp__item-checkbox {
  margin-right: 10px;
}
.todoapp__item-checkbox:hover {
  cursor: pointer;
}
.todoapp__item-ctx {
  flex: 1;
}
.todoapp__item-ctx-checked {
  flex: 1;
  font-style: italic;
  text-decoration: line-through;
  color: #868e96;
}
.todoapp__item-edit-btn,
.todoapp__item-delete-btn {
  border: none;
  border-radius: 0;
  height: 36px;
  width: 36px;
  background-color: inherit;
  font-size: 18px;
}
.todoapp__item-edit-btn:hover,
.todoapp__item-delete-btn:hover {
  cursor: pointer;
  background-color: #d0ebff;
}
.todoapp__item-edit-btn {
  margin-right: 3px;
}

/* react app logo */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
